<!DOCTYPE html>

<html lang="en">
<head>
   <title>Angular JS</title>
   <script src="js/jquery-1.11.3.min.js"></script>   
   <script src="js/angular.js"></script>   
   <script src="js/bootstrap.js"></script>   
   
   <link href="css/bootstrap.css" rel="stylesheet">   
</head>

<body>
	<div class="container" ng-app="mainModule" ng-controller="simpleController">
		<div class="jumbotron">
			<h1>Todo List</h1>
			<p class="lead">Bootstrap CSS, JQuery and Angular JS are being used</p>
		</div>

		<!-- Todo List -->
		<div class='input-group'>
			<input id='taskentry' type='text' class="form-control" placeholder='Enter Task here' ng-model="inputTask" />
			<div class="input-group-btn">
				<button id='addBtn' type="button" ng-click="addTask()" class="btn btn-default">{{btnLabel}}</button>
			</div>
		</div>
		<div>
			<table id='tasklist' class='table table-bordered table-hover'>
				<tr ng-repeat="task in tasks | orderBy : 'done'">
					<td width='50px;' style='text-align: center'>
						<task-button ng-model="task" mark-completed-fn="markCompleted" delete-task-fn="deleteTask"></task-button>
					</td>
					<td><task-info ng-model="task"></task-info></td>
				</tr>
			</table>
		</div>
		<label ng-show='getRemaining()>0'>Pending Tasks Count: {{getRemaining()}} / {{tasks.length}}</label>

		<br/>
		<button type='button' ng-show='tasks.length - getRemaining() > 0' ng-click='clearCompletedTasks()' class='btn btn-default'>Clear Tasks</button>
	</div>

</body>

<script src="js/app.js"></script>   

</html>
